<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sherlock API</title>
</head>
<body>
  <div id="api">
    <h1>Sherlock API</h1>
    <table>
      <tr>
        <th>Method</th>
        <th>Endpoint</th>
        <th>Response Content Type</th>
      </tr>
      <tr>
        <td>GET</td>
        <td><a href="/">/</a></td>
        <td>text/html</td>
      </tr>
      <tr>
        <td>GET</td>
        <td><a href="/livez">/livez</a></td>
        <td>application/json</td>
      </tr>
      <tr>
        <td>GET</td>
        <td><a href="/api/v1/recommend/movies">/api/v1/recommend/movies</a></td>
        <td>application/json</td>
      </tr>
    </table>
  </div>
</body>
</html>
